li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-size: 25px;
  line-height: 1.5;
  font-family: KakaoSmall, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;
  font-weight: 400;
  color: #333;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
}

strong,
strong>a {
  font-weight: 700;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  background: var(--baseBackground);
  -webkit-transition: top .2s ease-in-out;
  transition: top .2s ease-in-out;
}

.wrap-header {
  max-width: 1296px;
  margin: 0 auto;
  height: 72px;
}

.wrap-title {
  padding-top: 24px;
  font-size: 24px;
  float: left;
}

.wrap-content-head {
  text-align: center;
}

.wrap-list {
  display: inline-block;
  margin-left: -74px;
  font-size: 16px;
  letter-spacing: -.5px;
}

.wrap-list>li {
  display: inline-block;
  position: relative;
}

.wrap-list>li>a {
  display: block;
  padding: 0 28px;
  line-height: 72px;
  font-weight: 700;
  /* color: var(--baseForeground); */
}

.util {
  float: right;
  margin-top: -54px;
}

.btn-search {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

.btn-language {
  margin-left: 23px;
}

.btn-mode {
  margin-left: 26px;
}

/* ------------------------------ header 끝 ---------------------------------------------- */

.content-article {
  position: relative;
  max-width: 1296px;
  margin: 0 auto;
  padding-bottom: 182px
}

.main-content {
  padding-top: 72px;
}

.tit_main {
  /* background-image: url(../public/images/ico_date29.gif); */
  padding-top: 96px;
  font-family: KakaoBig, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;
  font-size: 46px;
  line-height: 66px;
  color: var(--baseForeground);
  letter-spacing: -1px;
  background: url(../public/images/ico_date29.gif) no-repeat 0 94px;
}

.em-text {
  padding-left: 144px;
  display: block;
  font-weight: 700;
}

.em-text2 {
  padding-left: 144px;
}

.badge-update {
  display: inline-block;
  min-width: 26px;
  padding: 6px 8px 7px 7px;
  background: #ff4024;
  border-radius: 20px;
  font-family: KakaoBig, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  color: #fff;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  margin-left: 10px;
}

/* -----------------------------------h3 Content ------------------------------------------------ */

.maincontent {
  margin: 0 -18px;
  padding: 96px 0 0;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
}

.wrap-item {
  position: relative;
  max-width: 666px;
  padding: 0 18px;
  box-sizing: border-box;
  width: 100%;


}

.item-content {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.item-card {
  width: 100%;
  max-height: 579px;
}

.item-card .item-icon {
  display: block;
  height: 36px;
  margin-top: -1px;
  padding-right: 20px;
  font-size: 0;
}

.item-card .item-icon .item-img {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
}

.text-cate {
  display: inline-block;
  position: relative;
  height: 34px;
  margin-top: 1px;
  padding: 0 13px;
  border-radius: 13px;
  font-size: 13px;
  line-height: 34px;
  color: var(--baseForeground);
  background-color: var(--colorBg5);
  vertical-align: top;
}

.text-highlight {
  display: inline-block;
  position: relative;
  height: 34px;
  margin-top: 1px;
  padding: 0 13px;
  border-radius: 13px;
  font-size: 13px;
  line-height: 34px;
  color: #000;
  background-color: #fae100;
  vertical-align: top;
}

.dot {
  display: inline-block;
  min-width: 6px;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  border-radius: 8px;
  line-height: 0;
  background-color: #ff5737;
  vertical-align: top;
  text-indent: -9999px;
}

.text-card {
  max-height: 92px;
  height: 92px;
  margin-top: 13px;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: -1px;
}

.inner-item {
  margin-top: 35px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item-card .info-card {
  overflow: hidden;
  position: absolute;
  top: 155px;
  left: 0;
  right: 65px;
  height: 19px;
  /* margin-top: 52px; */
  padding-left: 24px;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: var(--colorFg25)
}

.item-card .btn-share1 {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 60px;
  right: 35px;
  z-index: 20;
  width: 24px;
  height: 24px;
  line-height: 0;
}

.item-card .btn-share2 {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 670px;
  right: 35px;
  z-index: 20;
  width: 24px;
  height: 24px;
  line-height: 0;
}

.item-card .item-thumb {
  margin-top: 104px;
  display: block;
}

.item-card .item-thumb img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


/* --------------------------------------- Main Content Left done ------------------------- */

.inner-item-right {
  position: relative;
  height: 819px;
  margin-top: 35px;
}

.item-card-right {
  overflow: hidden;
  position: absolute;
  width: 297px;
  /* margin-top: 36px; */
  border-radius: 14px;
  background-color: var(--colorBg10);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item-card-right .wrap-content {
  height: 192px;
  outline-offset: -2px;
}

.wrap-content .item-icon img {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
}

.text-card-right {
  max-height: 56px;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
}

.item-card-right .info-card-right {
  overflow: hidden;
  /* position: absolute; */
  top: 143px;
  left: 0;
  right: 65px;
  height: 19px;
  margin-top: 18px;
  padding-left: 24px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: var(--colorFg25);
}

.text-card-right-4 {
  display: inline-block;
  overflow: visible;
  position: relative;
  height: auto;
  margin-left: 20px;
  padding: 8px 20px 8px 25px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  background-color: #fee102;
}

.item-card-right .list-cs {
  margin: 12px -24px 9px;
  font-size: 0;
  text-align: center;
}

.item-card-right .list-cs li {
  display: inline-block;
  margin: 0 4px;
}

.item-card-right .list-cs .link-cs {
  display: block;
  height: 42px;
  padding: 0 20px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 42px;
  color: var(--colorFg12);
  background-color: var(--colorBg6);
}

.text-date {
  display: inline-block;
  margin: 8px 0 0 6px;
  font-size: 14px;
  color: var(--colorFg24);
  letter-spacing: -1px;
}

.item-thumb-right {
  display: block;
  height: 166px;
  margin-top: 15px;
}

.thumb-right {
  display: block;
  width: 100%;
  min-height: 100%;
}

/* --------------------------------------MainContent2 ------------------------------------- */

.maincontent .section-content2{
  height: 540px;
  margin: 36px 18px;
  padding: 54px 66px 0;
  border-radius: 14px;
  font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
  background-color: #fff;
  text-align: center;
  box-shadow: 2px 5px 40px 0 rgba(0,0,0,.08);
  box-sizing: border-box;
}
.maincontent .section-content2 .content2-text {
  display: block;
  font-size: 42px;
  line-height: 62px;
  color: #000;
}
.maincontent .section-content2 .content2-link {
  display: inline-block;
    height: 33px;
    margin-top: 36px;
    padding: 9px 20px 0;
    border-radius: 42px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #000;
    vertical-align: top;
}
.maincontent .section-content2 .content2-image {
  display: block;
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 50px auto 0;
}
/* --------------------------------------------section - sns -----------------------------------*/
.section-sns {
  display: flex;
    justify-content: space-between;
    height: 116px;
    padding: 28px 36px;
    margin: 36px 18px;
    border-radius: 14px;
    font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    background-color: var(--colorBg10);
    text-align: center;
    box-shadow: 2px 5px 40px 0 rgba(0,0,0,.08);
    box-sizing: border-box;
}
.section-sns .text-sns {
  margin-top: 8px;
  font-size: 32px;
  color: var(--baseForeground);
}
.section-sns .inner-sns li {
  display: inline-block;
}
.section-sns .inner-sns li > a {
  display: inline-block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background-position-y: 0;
  text-indent: -9999px;
  background: url(../public/images/sns.png) 0 0/317px no-repeat;
}
.section-sns .inner-sns li~li{
  margin-left: 10px;
}
.section-sns .inner-sns li .link {
  background-position-x: 0;
}
.section-sns .inner-sns li .link-youtube {
  background-position-x: -64px;
}
.section-sns .inner-sns li .link-insta {
  background-position-x: -128px;
}
.section-sns .inner-sns li .link-face{
  background-position-x: -192px;
}
.section-sns .inner-sns li .link-in {
  background-position-x: -256px;
}

/* --------------------------------------- section content3-------------------------------------- */
.section-content3{
  display: flex;
  flex-wrap: wrap;
}
.inner-item3 .item-card{
  width: 297px;
}
/* 엉킨거 css 오류 잡으려고 어쩔수없이 설정 */
.section-content3 .wrap-item .inner-item3 .wrap-content {
  height: 192px;
  outline-offset: -2px;
  display: block;
  position: relative;
  padding: 25px 24px 0;
  box-sizing: border-box;
  width: 297px;
  border-radius: 14px;
  box-shadow: 4px 12px 30px 6px rgba(0,0,0,.09)
}
.section-content3 .wrap-item .inner-item3 .wrap-content-big{
  height: 100%;
  outline-offset: -2px;
  display: block;
  position: relative;
    box-sizing: border-box;
  width: 297px;
  border-radius: 14px;
  box-shadow: 4px 12px 30px 6px rgba(0,0,0,.09)
}
.section-content3 .wrap-item .inner-item3 .wrap-content-big img{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.text-card-stock {
    display: flex;
    max-height: none;
    margin-top: 18px;
    font-weight: 400;
    font-family: KakaoSmall,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
    font-size: 40px;
    line-height: 59px;
    letter-spacing: -1px;
    align-items: center;
}
.triangle {
  width: auto;
  margin-top: 8px;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 7px solid #2879ff;
}
.inner-item-sticky{
  border-radius: 20px;
  box-shadow: 4px 12px 30px 6px rgba(0,0,0,.09);
}


/* ----------------------------------- etc ------------------------------------------------ */

.wrap_etc {
  margin-bottom: 84px;
}

.item_etc {
  box-sizing: border-box;
  width: 50%;
  height: 360px;
  padding: 0 18px;
  
}

.link_etc {
  display: block;
  width: 100%;
  height: 100%;
  padding: 36px 36px 0;
  box-sizing: border-box;
  background: #3c64ff;
  border-radius: 12px;
  box-shadow: 4px 12px 30px 6px rgba(0,0,0,.09);
}

.link_etc:nth-child(1) {
  background: #fae100;

}

.tit_etc {
  display: block;
  font-size: 32px;
  line-height: 44px;
  max-width: 400px;
  margin-bottom: 50px;
}

.txt_item {
  display: inline-block;
  padding: 17px 20px 0;
  border-radius: 42px;
  font-size: 16px;
  background: #000;
  color: #fff;
  height: 33px;
  vertical-align: top;
}

.link_collection {
  display: block;
  width: 260px;
  height: 60px;
  margin: 0 auto;
  font-size: 18px;
  background: #eee;
  line-height: 60px;
  border-radius: 60px;
  text-align: center;
}

/* ----------------------------------- footer ------------------------------------------------ */

.footer {
  width: 100%;
  padding: 37px 0 48px;
}

.wrap-footer {
  max-width: 100%;
  margin: 0 auto;
}

.service {
  width: 100%;
}

.inner-service {
  width: 100%;
  display: flex;
  margin-bottom: 28px;
}

.wrap-service {
  width: 14.28%;
}

.tit_service {
  display: block;
  width: 100%;
  margin-bottom: 28px;
}

.list_service {
  margin-bottom: 28px;
}

.list_service_item {
  width: 100%;
  margin-bottom: 14px;
  font-size: 14px;
}

.info {
  width: 100%;
}

.info-relation-container {
  width: 100%;
  
}

.inner-info {
  float: left;
}

.wrap-info {
  float: left;
  margin-left: 30px;
}

.wrap-info:first-child {
  margin-left: 0;
}

.tit_info {
  display: block;
  width: 100%;
  font-size: 12px;
}

.list_info {
  width: 100%;
}

.list_info_item {
  width: 100%;
  margin-bottom: 14px;
  font-size: 14px;
  display: none;
}

.inner-relation {
  float: right;
  width: 216px;
  height: 42px;
  border-radius: 24px;
  background: #eee;
  border: 0.5px #aaa;
}

 .tit_relation {
  width: 100%;
  height: 100%;
} 

.inner-relation .tit_relation a {
  display: block;
  padding: 13px 24px;
}

.wrap-relation {
  width: 100%;
}

.list_relation {
  display: none;
} 

.txt_copyright {
  display: block;
  font-size: 12px;
  color: #888;
}

/* footer 전역 */
.screen-out {
  overflow: hidden;
  line-height: 0;
  text-indent: -9999;
}
