:root {
    /* 배경 색상 변수 */
    --baseBackground: #fff;
    /* 기본 배경색 */
    --baseBackground1: rgba(255, 255, 255, .9);
    /* 조금 투명한 배경색 */
    --colorBg1: #eee;
    /* 배경 색상 1 */
    --colorBg2: #eee;
    /* 배경 색상 2 */
    --colorBg3: #fff;
    /* 배경 색상 3 */
    --colorBg4: #111;
    /* 배경 색상 4 */
    --colorBg5: #eee;
    /* 배경 색상 5 */
    --colorBg6: #f4f4f4;
    /* 배경 색상 6 */
    --colorBg7: #f7f7f7;
    /* 배경 색상 7 */
    --colorBg8: #fcfcfc;
    /* 배경 색상 8 */
    --colorBg9: #333;
    /* 배경 색상 9 */
    --colorBg10: #fff;
    /* 배경 색상 10 */
    --colorBg11: #1a1a1a;
    /* 배경 색상 11 */
    --colorBg12: #444;
    /* 배경 색상 12 */
    --colorBg13: #dfdfdf;
    /* 배경 색상 13 */
    --colorBg14: #333;
    /* 배경 색상 14 */
    --colorBg15: #000;
    /* 배경 색상 15 */
    --colorBg16: #000;
    /* 배경 색상 16 */
    --colorBg17: #000;
    /* 배경 색상 17 */
    --colorBg18: #f7f7f7;
    /* 배경 색상 18 */
  
    /* 텍스트 색상 변수 */
    --baseForeground: #000;
    /* 기본 텍스트 색상 */
    --colorFg1: #333;
    /* 텍스트 색상 1 */
    --colorFg2: #111;
    /* 텍스트 색상 2 */
    --colorFg3: #000;
    /* 텍스트 색상 3 */
    --colorFg4: #000;
    /* 텍스트 색상 4 */
    --colorFg5: #666;
    /* 텍스트 색상 5 */
    --colorFg6: #666;
    /* 텍스트 색상 6 */
    --colorFg7: #333;
    /* 텍스트 색상 7 */
    --colorFg8: #ededed;
    /* 텍스트 색상 8 */
    --colorFg9: #333;
    /* 텍스트 색상 9 */
    --colorFg10: #333;
    /* 텍스트 색상 10 */
    --colorFg11: #666;
    /* 텍스트 색상 11 */
    --colorFg12: #666;
    /* 텍스트 색상 12 */
    --colorFg13: #888;
    /* 텍스트 색상 13 */
    --colorFg14: #888;
    /* 텍스트 색상 14 */
    --colorFg15: #bbb;
    /* 텍스트 색상 15 */
    --colorFg16: #e6e6e6;
    /* 텍스트 색상 16 */
    --colorFg17: #ebebeb;
    /* 텍스트 색상 17 */
    --colorFg18: #666;
    /* 텍스트 색상 18 */
    --colorFg19: #ededed;
    /* 텍스트 색상 19 */
    --colorFg20: #d8d8d8;
    /* 텍스트 색상 20 */
    --colorFg21: #fff;
    /* 텍스트 색상 21 */
    --colorFg22: #d8d8d8;
    /* 텍스트 색상 22 */
    --colorFg23: #888;
    /* 텍스트 색상 23 */
    --colorFg24: #666;
    /* 텍스트 색상 24 */
    --colorFg25: #666;
    /* 텍스트 색상 25 */
    --colorFg26: #333;
    /* 텍스트 색상 26 */
    --colorFg27: #666;
    /* 텍스트 색상 27 */
    --colorFg28: #333;
    /* 텍스트 색상 28 */
    --colorFg29: #000;
    /* 텍스트 색상 29 */
    --colorFg30: #ebebeb;
    /* 텍스트 색상 30 */
    --colorFg31: #666;
    /* 텍스트 색상 31 */
    --colorFg32: #333;
    /* 텍스트 색상 32 */
    --colorFg33: #e0e0e0;
    /* 텍스트 색상 33 */
    --colorFg34: #F7F7F7;
    /* 텍스트 색상 34 */
    --colorFg35: #666;
    /* 텍스트 색상 35 */
    --colorFg36: #333;
    /* 텍스트 색상 36 */
    --colorFg37: #000;
    /* 텍스트 색상 37 */
    --colorFg38: #434443;
    /* 텍스트 색상 38 */
    --colorFg39: #000;
    /* 텍스트 색상 39 */
    --colorFg40: #666;
    /* 텍스트 색상 40 */
  }